@charset "utf-8";

div {
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    height: 300px;
}

h1.title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
}